---
import Container from "./Container.astro";
---

<footer class="site-footer">
  <Container>
    <div class="footer-columns">
      <div class="footer-column">
        <h4>メニュー</h4>
        <ul>
          <li><a href="/menu/">全メニュー</a></li>
          <li><a href="/order/">予約・取り置き</a></li>
          <li><a href="/order/">ケータリング</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>情報</h4>
        <ul>
          <li><a href="/schedule/">出店スケジュール</a></li>
          <li><a href="/access/">アクセス</a></li>
          <li><a href="/news/">お知らせ</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>その他</h4>
        <ul>
          <li><a href="/contact/">お問い合わせ</a></li>
          <li><a href="/faq/">よくある質問</a></li>
          <li><a href="/about/">About</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Follow</h4>
        <ul>
          <li><a href="https://www.instagram.com/jerkchickenstand" target="_blank" rel="noopener noreferrer">Instagram</a></li>
          <li><a href="/contact/">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <small>© 2026 Jerk Chicken Stand. All rights reserved.</small>
    </div>
  </Container>
</footer>
